body {
    font-family: 'Open Sans', sans-serif;
    background: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #ff4d4d;
    text-shadow: 0 0 5px rgba(255,0,0,0.7);
}

.episodios {
    font-family: 'Open Sans', sans-serif;
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    color: white;
    list-style: none;
}

.episodios li {
    padding: 8px;
    margin: 5px 0;
    background: #2b2b2b;
    border-radius: 5px;
    transition: 0.3s;
    height: 15px;
}

.episodios li:hover {
    background: #3a3a3a;
    transform:scale3d(1.02, 1.02, 1.02);
}

.favorito {
    display: flex;
    flex-direction:row;
    background: linear-gradient(90deg, #ff0000, #8b0000);
    font-weight: bold;
    color: #fff;
    border: 2px solid #ff4d4d;
    box-shadow: 0 0 10px rgba(255,0,0,0.7);
    height: 15px;
}

.favoritoStar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #ff000050, #8b0000);
    font-weight: bold;
    color: #fff;
    box-shadow: 0 0 10px rgba(255,0,0,0.7);
}